server:
  port: ${service.port}

spring:
#  profiles:
#   active: ${SPRING_PROFILES.ACTIVE:docker} - 서비스 자체를 띄울 때 사용
  config:
    import:
      - secrets.yaml
  application:
    name: dispatch-service

  datasource:
    url: jdbc:postgresql://localhost:5434/${postgres.db} #local
#    url: jdbc:postgresql://gd_dispatch_db:5432/${postgres.db} #docker - 서비스 자체를 띄울 때 사용
    driver-class-name: org.postgresql.Driver
    username: ${postgres.user}
    password: ${postgres.password}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  data:
    redis:
      host: host.docker.internal
      port: 6379
      database: 0

  kafka:
    bootstrap-servers: host.docker.internal:${kafka.port} #local
#    bootstrap-servers: gd_kafka:${kafka.port} # docker - 서비스 자체를 띄울 때 사용
    consumer:
      group-id: dispatch-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        enable.idempotence: true

kafka:
  topic:
    dispatch: dispatch-topic


eureka:
  client:
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/ #local
#      defaultZone: http://gd_eureka:${eureka.port}/eureka/ # docker - 서비스 자체를 띄울 때 사용


management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:${zipkin.port}/api/v2/spans"

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: dispatch-service


springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui


