spring:
  application:
    name: server

server:
  port: ${EUREKA_PORT:8761}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:${EUREKA_PORT}/eureka/
