server:
  port: ${service.port}

spring:
  config:
    import:
      - secrets.yaml
  application:
    name: gateway

  main:
    web-application-type: reactive

  cloud:
    gateway:
      routes:
        - id: trip-service
          uri: http://host.docker.internal:8205
          predicates:
            - Path=/trips/**

        - id: dispatch-service
          uri: http://host.docker.internal:8202
          predicates:
            - Path=/dispatch/**

        - id: payment-service
          uri: http://host.docker.internal:8204
          predicates:
            - Path=/payment/**

        - id: account-service
          uri: http://host.docker.internal:8201
          predicates:
            - Path=/account/**

        - id: support-service
          uri: http://host.docker.internal:8203
          predicates:
            - Path=/support/**

springdoc:
  swagger-ui:
    path: /docs
    urls:
      - name: trip-service
        url: /trips/v3/api-docs
      - name: dispatch-service
        url: /dispatch/v3/api-docs
      - name: payment-service
        url: /payment/v3/api-docs
      - name: account-service
        url: /account/v3/api-docs
      - name: support-service
        url: /support/v3/api-docs

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://gd_eureka:${eureka.port}/eureka/

management:
  tracing:
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://gd_zipkin:${zipkin.port}/api/v2/spans
