server:
  port: ${service.port}

spring:
  config:
    import:
      - secrets.yaml
  application:
    name: gateway

  main:
    web-application-type: reactive

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true

      routes:
        - id: trip-service
          uri: lb://${routes.trip}
          predicates:
            - Path=/trips/**

        - id: dispatch-service
          uri: lb://${routes.dispatch}
          predicates:
            - Path=/dispatch/**

        - id: payment-service
          uri: lb://${routes.payment}
          predicates:
            - Path=/payment/**

        - id: account-service
          uri: lb://${routes.account}
          predicates:
            - Path=/account/**

        - id: support-service
          uri: lb://${routes.support}
          predicates:
            - Path=/support/**

springdoc:
  swagger-ui:
    path: /docs
    urls:
      - name: trip-service
        url: /trips/v3/api-docs
      - name: dispatch-service
        url: /dispatch/v3/api-docs
      - name: payment-service
        url: /payment/v3/api-docs
      - name: account-service
        url: /account/v3/api-docs
      - name: support-service
        url: /support/v3/api-docs

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:${zipkin.port}/api/v2/spans
