server:
  port: ${GATEWAY_PORT:8080}

spring:
  main:
    web-application-type: reactive
  application:
    name: gateway
  config:
    import: optional:configserver:http://config:${CONFIG_PORT}

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: trip-service
              uri: lb://trip-service
#              predicates:
#                - Path=/open-api/v1/trips/**,/api/v1/trips/**

            - id: trip-docs
              uri: lb://trip-service
              predicates:
                - Path=/trips/v3/api-docs
              filters:
                - name: RewritePath
                  args:
                    regexp: /trips/(?<segment>.*)
                    replacement: /${segment}


            - id: dispatch-service
              uri: lb://dispatch-service
#              predicates:
#                - Path=/open-api/v1/dispatchs/**,/api/v1/dispatchs/**

            - id: dispatch-docs
              uri: lb://dispatch-service
              predicates:
                - Path=/dispatchs/v3/api-docs
              filters:
                - name: RewritePath
                  args:
                    regexp: /dispatchs/(?<segment>.*)
                    replacement: /${segment}


            - id: user-service
              uri: lb://user-service
#              predicates:
#                - Path=/open-api/v1/users/**,/open-api/v1/auth/**,/api/v1/users/**

            - id: user-docs
              uri: lb://user-service
              predicates:
                - Path=/users/v3/api-docs
              filters:
                - name: RewritePath
                  args:
                    regexp: /users/(?<segment>.*)
                    replacement: /${segment}


            - id: payment-service
              uri: lb://payment-service
#              predicates:
#                - Path=/open-api/v1/payments/**, /api/v1/payments/**

            - id: payment-docs
              uri: lb://payment-service
              predicates:
                - Path=/payments/v3/api-docs
              filters:
                - name: RewritePath
                  args:
                    regexp: /payments/(?<segment>.*)
                    replacement: /${segment}


            - id: support-service
              uri: lb://support-service
#              predicates:
#                - Path=/open-api/v1/supports/**,/api/v1/supports/**

            - id: support-docs
              uri: lb://support-service
              predicates:
                - Path=/supports/v3/api-docs
              filters:
                - name: RewritePath
                  args:
                    regexp: /supports/(?<segment>.*)
                    replacement: /${segment}

            # 추후 도전 기능 구현 시
#            - id: external-service
#              uri: lb://external-service
#              predicates:
#                - Path=/open-api/v1/externals/**,/api/v1/externals/**
#
#            - id: external-docs
#              uri: lb://hub-service
#              predicates:
#                - Path=/externals/v3/api-docs
#              filters:
#                - name: RewritePath
#                  args:
#                    regexp: /externals/(?<segment>.*)
#                    replacement: /${segment}





eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:${EUREKA_PORT}/eureka/


springdoc:
  swagger-ui:
    path: /docs
    urls:
      - name: trip-service
        url: /trips/v3/api-docs
      - name: dispatch-service
        url: /dispatchs/v3/api-docs
      - name: payment-service
        url: /payments/v3/api-docs
      - name: user-service
        url: /users/v3/api-docs
      - name: support-service
        url: /supports/v3/api-docs
#      - name: external-service
#        url: /externals/v3/api-docs