server:
  port: ${service.port}

spring:
  config:
    import:
      - secrets.yml
  cloud:
    gateway:
      routes:
        - id: account-service
          uri: http://localhost:8201
          predicates:
            - Path=/api/v*/auth/**,/api/v*/users/**,/api/v*/drivers/**,/api/v*/admin/users/** ,/internal/v*/account/**,

        - id: dispatch-service
          uri: http://localhost:8202
          predicates:
            - Path=/api/v*/dispatches/**,/api/v*/admin/dispatches/**,/internal/v*/dispatches/**

        - id: trip-service
          uri: http://localhost:8203
          predicates:
            - Path=/api/v*/trips/**,/api/v*/policies/**,/api/v*/admin/trips/**,/internal/v*/trips/**

        - id: payment-service
          uri: http://localhost:8204
          predicates:
            - Path=/api/v*/payments/**,/api/v*/admin/payments/**,/internal/v*/payments/**,/api/v*/refunds/**,/api/v*/refund/requests/**,/api/v*/admin/refunds/**,/api/v*/admin/refund/requests/**

        - id: support-service
          uri: http://localhost:8205
          predicates:
            - Path=/api/v*/supports/**,/api/v*/admin/supports/**,/internal/v*/supports/**

        # ✨ 정적 파일 처리 예외 - 반드시 개별 파일로 명시
        - id: static-content
          uri: forward:/
          predicates:
            - Path=/passenger/payments/checkout.html,
              /passenger/payments/processing.html,
              /passenger/payments/success.html,
              /passenger/payments/fail.html

springdoc:
  swagger-ui:
    path: /docs
    urls:

      # -----------------------------
      # Trip-service
      # -----------------------------
      - name: trip-service-v1
        url: /api/v1/trips/api-docs
      - name: trip-service-v2
        url: /api/v2/trips/api-docs
      - name: trip-service-v3
        url: /api/v3/trips/api-docs

      # -----------------------------
      # Dispatch-service
      # -----------------------------
      - name: dispatch-service-v1
        url: /api/v1/dispatches/api-docs
      - name: dispatch-service-v2
        url: /api/v2/dispatches/api-docs
      - name: dispatch-service-v3
        url: /api/v3/dispatches/api-docs

      # -----------------------------
      # Payment-service
      # -----------------------------
      - name: payment-service-v1
        url: /api/v1/payments/api-docs
      - name: payment-service-v2
        url: /api/v2/payments/api-docs
      - name: payment-service-v3
        url: /api/v3/payments/api-docs

      # -----------------------------
      # Account-service
      # -----------------------------
      - name: account-service-v1
        url: /api/v1/accounts/api-docs
      - name: account-service-v2
        url: /api/v2/accounts/api-docs
      - name: account-service-v3
        url: /api/v3/accounts/api-docs

      # -----------------------------
      # Support-service
      # -----------------------------
      - name: support-service-v1
        url: /api/v1/supports/api-docs
      - name: support-service-v2
        url: /api/v2/supports/api-docs
      - name: support-service-v3
        url: /api/v3/supports/api-docs


eureka:
  client:
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/


management:
  zipkin:
    tracing:
      endpoint: http://localhost:${zipkin.port}/api/v2/spans
