spring:
  application:
    name: payment-service
  profiles:
    active: local

  main:
    web-application-type: servlet

  jpa:
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

management:
  tracing:
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: payment-service

#springdoc:
#  api-docs:
#    path: /v3/api-docs
#  swagger-ui:
#    path: /swagger-ui.html
#    tags-sorter: alpha
#    operations-sorter: alpha
#  packages-to-scan: com.gooddaytaxi.dispatch.presentation.external.controller