server:
  port: ${service.port}

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}
  application:
    name: trip-service

  datasource:
    url: jdbc:postgresql://localhost:5435/${postgres.db}
    driver-class-name: org.postgresql.Driver
    username: ${postgres.user}
    password: ${postgres.password}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: trip-service
      auto-offset-reset: earliest
      enable-auto-commit: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/

management:
  tracing:
    sampling:
      probability: 1.0
      
  zipkin:
    tracing:
      endpoint: "http://localhost:${zipkin.port}/api/v2/spans"

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: trip-service



