
spring:
  application:
    name: trip-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  jpa:
    properties:
      hibernate:
        format_sql: true

  kafka:
    consumer:
      group-id: trip-service
      auto-offset-reset: earliest
      enable-auto-commit: false

management:
  tracing:
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: trip-service



