server:
  port: ${service.port}

spring:
  profiles:
    active: ${profiles.active}
  config:
    import: secrets.yaml
  application:
    name: trip-service

  datasource:
    url: jdbc:postgresql://localhost:5435/${postgres.db}
    driver-class-name: org.postgresql.Driver
    username: ${postgres.user}
    password: ${postgres.password}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/


management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:${zipkin.port}/api/v2/spans"

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: trip-service
