spring:
  application:
    name: account-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  main:
    web-application-type: servlet

  jpa:
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

jwt:
  access-token-validity-in-seconds: 3600
  refresh-token-validity-in-seconds: 604800

management:
  tracing:
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: account-service

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  packages-to-scan: com.gooddaytaxi.account.adapter.web,com.gooddaytaxi.account.presentation.controller