server:
  port: ${USER_SERVICE_PORT:8081}

spring:
  #  profiles:
  #    active: ${SPRING_PROFILES_ACTIVE:docker}
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/



management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:${ZIPKIN_PORT}/api/v2/spans"

