server:
  port: ${service.port}
  shutdown: graceful

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  lifecycle:
    timeout-per-shutdown-phase: 30s

  config:
    import: secrets.yml

  application:
    name: support-service

  datasource:
    url: jdbc:postgresql://${postgres.host.local:localhost}:5437/${postgres.db}
    driver-class-name: org.postgresql.Driver
    username: ${postgres.user}
    password: ${postgres.password}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  kafka:
    bootstrap-servers: ${kafka.external.host}:${kafka.external.port}

    # Consumer 설정
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 1000
      isolation-level: read_committed

    listener:
      ack-mode: record
      concurrency: 1 # 동일한 Kafka topic에 대해 동시에 1개의 Consumer thread로 처리
      poll-timeout: 3000
      
    # Producer 설정
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.apache.kafka.common.serialization.StringSerializer


  rabbitmq:
    host: ${rabbitmq.external.host}
    port: ${rabbitmq.external.port}
    username: ${rabbitmq.user}
    password: ${rabbitmq.password}
    virtual-host: /
    publisher-confirm-type: correlated
    template:
      mandatory: true
      retry:
        enabled: true
        max-attempts: 3
        initial-interval: 1000ms
        multiplier: 2.0
        max-interval: 5000ms
    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        auto-startup: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/

management:
  tracing:
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: "http://localhost:${zipkin.port}/api/v2/spans"

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: support-service

# Slack App 연동
slack:
  api-url: https://slack.com
  bot-token: ${slack.bot-token}

logging:
  level:
    com.gooddaytaxi.support: DEBUG # INFO, DEBUG, WARN, ERROR

