server:
  shutdown: graceful

spring:
  application:
    name: support-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  lifecycle:
    timeout-per-shutdown-phase: 30s

  jpa:
    properties:
      hibernate:
        format_sql: true

  kafka:
    # Consumer 설정
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 1000
      isolation-level: read_committed
    listener:
      ack-mode: record
      concurrency: 1 # 동일한 Kafka topic에 대해 동시에 1개의 Consumer thread로 처리
      poll-timeout: 3000
      auto-startup: true
    # Producer 설정
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.apache.kafka.common.serialization.StringSerializer


  rabbitmq:
    virtual-host: /
    publisher-confirm-type: correlated
    template:
      mandatory: true
      retry:
        enabled: true
        max-attempts: 3
        initial-interval: 1000ms
        multiplier: 2.0
        max-interval: 5000ms
    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        auto-startup: true

management:
  tracing:
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    tags:
      application: support-service
