server:
  port: ${service.port}

spring:
  profiles:
    active: ${profiles.active}
  config:
    import: secrets.yaml
  application:
    name: support-service

  datasource:
    url: jdbc:postgresql://localhost:5437/${postgres.db}
    driver-class-name: org.postgresql.Driver
    username: ${postgres.user}
    password: ${postgres.password}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  kafka:
    bootstrap-servers: localhost:${KAFKA_PORT}
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 1000
    listener:
      ack-mode: record
      concurrency: 3
      poll-timeout: 3000





eureka:
  client:
    service-url:
      defaultZone: http://localhost:${eureka.port}/eureka/


management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:${zipkin.port}/api/v2/spans"
